.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header img {
    margin-top: 5rem;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

.App-link {
    color: #54BAB9;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.markdown-body {
    text-align: left;
}

.ImageContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.ImageGrid {
    padding-top: 7rem;
}