.SignupTab, .SingupTabElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginTab {
    display: flex;
    justify-content: center;
}

#SignupLastName {
    display: flex;
    align-items: center;
}

#LoginUsername {
    margin-bottom: 1rem;
}

#RememberPassword, #ShowPassword, #ShowPasswordSignup, #RememberPasswordSignup {
    display: flex;
    flex-direction: row;
}

#ForgotPassword {
    margin-bottom: 1rem;
}

#SignupEmail {
    margin-bottom: 1rem;
}

#SignupPassword {
    margin-bottom: 1rem;
}

#SignupUsername {
    margin-bottom: 1rem;
}

.SignupName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signup-firstname {
    margin-bottom: 1rem;
}

@media (max-width: 375px) {
    #LastNameIcon {
        display: inline;
        flex-direction: column;
    }
}