.SignupTab, .SingupTabElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginTab {
    display: flex;
    justify-content: center;
}

#LoginUsername {
    margin-bottom: 1rem;
}

#RememberPassword, #ShowPassword {
    display: flex;
    flex-direction: row;
}

#ForgotPassword {
    margin-bottom: 1rem;
}

#SignupEmail {
    margin-bottom: 1rem;
}

#SignupPassword {
    margin-bottom: 1rem;
}

#SignupUsername {
    margin-bottom: 1rem;
}

.SignupName {
    display: flex;
    flex-direction: row;
}

#signup-firstname {
    margin-bottom: 1rem;
}