.SignUpTab, .SingupTabElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginTab {
    display: flex;
    justify-content: center;
    align-items: center;
}

#SignUpLastName {
    display: flex;
    align-items: center;
}

#LoginUsername {
    margin-bottom: 1rem;
}

#RememberPassword, #ShowPassword, #ShowPasswordSignUp, #RememberPasswordSignUp {
    display: flex;
    flex-direction: row;
}

#ForgotPassword {
    margin-bottom: 1rem;
}

#SignUpEmail {
    margin-bottom: 1rem;
}

#SignUpPassword {
    margin-bottom: 1rem;
}

#SignUpUsername {
    margin-bottom: 1rem;
}

.SignUpName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signup-firstname {
    margin-bottom: 1rem;
}

@media (max-width: 375px) {
    #LastNameIcon {
        display: inline;
        flex-direction: column;
    }
}