.ImageButton:hover, .ImageButton, .ImageButton:active {
    background: none !important;
    outline: none;
    border: none;
}

.ImageButton:hover .ImageIcon {
    transform: scale(2);
}

.ImageContainer {
    width: 100vw;
}

.Image {
    object-fit: cover;
}
