.LogoIcon {
    height: 5vmin;
    position: relative;
    border-radius: 50%;
    transform: scale(0.8) !important;
}

#LogoIconMobile {
    height: 10vmin;
}

.LogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LogoContainer a, .LogoContainer a:hover {
    text-decoration: none !important;
    color: white !important;
}

.LogoContainerMobile a, .LogoContainerMobile a:hover {
    text-decoration: none !important;
    color: black !important;
}

.NavButton {
    color: white;
    background-color: transparent;
}

.NavButton:hover {
    color: "primary.dark";
    background-color: white;
}