.Footer {
    background-color: #3f8cda;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.FooterRow1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.FooterRow2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.FooterElement a, .FooterElement a:hover {
    text-decoration: none;
    color: white;
}

@media (min-width: 500px) {
    .Footer {
        flex-direction: column;
        gap: hidden;
    }
}